@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
h1{
font-size: 50px;
}
.COLOR{
    color:orange;
}
.color2{
    color: red;
}
#border{
    border-left: 5px solid;
    border-image: linear-gradiant(red, tomato);
    border-image-slice: 1;
}
.flexible-Container{
    display: flex;
    margin-top: 100px;
}
.font{
    font-family: 'Roboto Slab', serif;
}
.box{
    width: 33.33%;
    margin-left: ;
}
.mission1{
    border-style: none;
    background-color: turquoise;
}
.vision1{
    border-style: none;
    background-color:yellow;
}
.goal1{
    border-style: none;
    background-color:purple
}
.Banana{
    width: 65%;
    padding-left: 12%;
}
.Banana img{
    width: 75%;
    padding-left: 10%;
    border-radius: 10px;
}
.explore-button{
text-decoration: none;
background-color: red;
padding:10px 40px;
color: white;
font-weight: 700;
border-radius: 5px;
}

.Read-the-Documentation{
    text-decoration: none;
    background-color: red;
    padding:10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.App-Feature{
    text-decoration: none;
    background-color: red;
    padding:10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
footer{
    background: black;
    
    width: 100%;
    
color: white;
}
.footer-content{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}